/* Webfont: Rasfire-Medium */@font-face {
    font-family: 'RasfireMed';
    src: url('Rasfire-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('Rasfire-Medium.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

