/* Webfont: Rasfire-Bold */@font-face {
    font-family: 'RasfireBold';
    src: url('Rasfire-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('Rasfire-Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

