/* Webfont: Rasfire-Regular */@font-face {
    font-family: 'RasfireRegular';
    src: url('Rasfire-Regular.eot'); /* IE9 Compat Modes */
    src: url('Rasfire-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Rasfire-Regular.woff') format('woff'), /* Modern Browsers */
         url('Rasfire-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

