@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Rasfire';
  font-style: light;
  src: local(''), url('/public/fonts/Rasfire/OpenType-PS/Rasfire-Light.otf') format('otf');
}
@font-face {
  font-family: 'Rasfire';
  font-style: medium;
  src: local(''), url('/public/fonts/Rasfire/OpenType-PS/Rasfire-Medium.otf') format('otf');
}

body {
  background-color: #E0D7CE;
}

.active {
  @apply border-b-off-white border-b ml-auto pb-[0.5vh] transition ease-in-out hover:-translate-y-[0.1vh];
}

.inactive {
  @apply transition ease-in-out hover:-translate-y-1 hover:translate-x-[0.1vw];
}

.cta-contact {
  @apply flex gap-2 font-thin tracking-[0.5px] text-[1.6vh];
}