@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('/public/fonts/Rasfire/OpenType-PS/Rasfire-Light.otf');

@font-face {
  font-family: 'Rasfire';
  font-style: light;
  src: url('/fonts/Rasfire/OpenType-PS/Rasfire-Light.otf') format('truetype');
}
@font-face {
  font-family: 'Rasfire';
  font-style: medium;
  src: url('/fonts/Rasfire/OpenType-PS/Rasfire-Medium.otf') format('truetype');
}

html {
  font-family: 'Rasfire', 'Thasadith';
}

body {
  background-color: #E0D7CE;
}

.nav-text {
  @apply border-b-[0.2px] md:border-off-white border-almost-black w-screen hover:bg-off-white md:text-off-white text-almost-black hover:text-almost-black hover:bg-opacity-70 p-[2rem] font-thasadith uppercase max-xs:bg-[#E0D7CE] max-xxs:text-[1.8vh];
}

.active {
  @apply border-b-off-white border-b ml-auto pb-[0.5vh] transition ease-in-out hover:-translate-y-[0.1vh];
}

.inactive {
  @apply transition ease-in-out hover:-translate-y-1 hover:translate-x-[0.1vw];
}

.about-pitch-div {
  @apply lm:w-[22vw] text-off-white;
}

.about-pitch-num {
  @apply font-rasfire xs:text-[8vh] text-[7vh];
}

.about-pitch-p {
  @apply font-thasadith lg:text-[2vh] xs:text-[1.8vh] text-[1.6vh] tracking-[0.4px];
}

.portfolio-item {
  @apply lg:w-[40vw] md:w-[44vw] xxs:m-[2rem] m-[1rem] lg:h-[45vh] sm:h-[35vh] h-[40vh] text-center grid grid-rows-3 rounded-xl drop-shadow-lg;
}

.project-div {
  @apply lg:h-[50vh] xs:h-[55vh] rounded-3xl xs:px-[5rem] xxs:px-[2rem] px-[1.8rem] xs:pt-[6rem] xxs:py-[10vh] py-[8vh] space-y-2;
}

.project-div-header {
  @apply xs:-space-y-4 -space-y-3;
}

.project-div-subheading {
  @apply font-thasadith xs:text-[2vh] text-[1.6vh] uppercase tracking-[1px];
}

.project-div-title {
  @apply font-rasfire xs:text-[6vh] xxs:text-[5vh] text-[4vh] tracking-[1px];
}

.project-div-p {
  @apply font-thasadith xs:text-[1.8vh] text-[1.6vh] xl:w-[30vw] lm:w-[35vw] sm:w-[45vw] space-y-4;
}

.project-content-title {
  @apply uppercase text-[2vh] font-thasadith tracking-[1px] font-bold;
}

.project-content-p {
  @apply text-[1.8vh] font-thasadith tracking-[0.2px];
}

.project-content-div {
  @apply space-y-3;
}

.cta-contact {
  @apply flex sm:gap-2 gap-1 font-thin tracking-[0.5px] sm:text-[1.6vh] text-[1.5vh];
}

.contact-textbox {
  @apply lm:w-[40vw] w-full p-[1em] xs:rounded-2xl rounded-md font-thasadith xxs:tracking-[1px] tracking-[0.5px] xs:text-[2vh] xxs:text-[1.8vh] text-[1.6vh];
}