@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Rasfire';
  font-style: light;
  src: local(''), url('/public/fonts/Rasfire/OpenType-PS/Rasfire-Light.otf') format('otf');
}
@font-face {
  font-family: 'Rasfire';
  font-style: medium;
  src: local(''), url('/public/fonts/Rasfire/OpenType-PS/Rasfire-Medium.otf') format('otf');
}

body {
  background-color: #E0D7CE;
}

.nav-text {
  @apply border-b-[0.2px] md:border-off-white border-almost-black w-screen hover:bg-off-white md:text-off-white text-almost-black hover:text-almost-black hover:bg-opacity-70 p-[2rem] font-thasadith uppercase max-xs:bg-[#E0D7CE] max-xxs:text-[1.8vh];
}

.active {
  @apply border-b-off-white border-b ml-auto pb-[0.5vh] transition ease-in-out hover:-translate-y-[0.1vh];
}

.inactive {
  @apply transition ease-in-out hover:-translate-y-1 hover:translate-x-[0.1vw];
}

.about-pitch-div {
  @apply w-[22vw] text-off-white;
}

.about-pitch-num {
  @apply font-rasfire text-[8vh];
}

.about-pitch-p {
  @apply font-thasadith text-[2vh] tracking-[0.4px];
}

.portfolio-item {
  @apply lg:w-[40vw] sm:w-[44vw] xxs:m-[2rem] m-[1rem] lg:h-[45vh] sm:h-[35vh] h-[40vh] text-center grid grid-rows-3 rounded-xl drop-shadow-lg;
}

.project-div {
  @apply h-[50vh] rounded-3xl px-[5rem] pt-[6rem] space-y-5;
}

.project-div-header {
  @apply -space-y-4;
}

.project-div-subheading {
  @apply font-thasadith text-[2vh] uppercase tracking-[1px];
}

.project-div-title {
  @apply font-rasfire text-[6vh] tracking-[1px];
}

.project-div-p {
  @apply font-thasadith text-[1.8vh] w-[30vw] space-y-5;
}

.cta-contact {
  @apply flex sm:gap-2 gap-1 font-thin tracking-[0.5px] sm:text-[1.6vh] text-[1.5vh];
}